<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.yebimom.android.yebimom"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Use Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Call -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Facebook Meta-data -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name=".ui.login.LoginActivity"></activity>

        <!-- Center List Activity  -->
        <activity android:name=".ui.centers.CenterListActivity"></activity>

        <!-- Detail Activity -->
        <activity android:name=".ui.detail.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


    </application>

</manifest>
